<div class="custom-upsell-wrap">
      <div class="custom-upsell-inner">
         <h2>Other People Also Buy</h2>

         <div class="custom-upsell-row">
            <div class="custom-upsell-col">
               <div class="upsell-img">
                  <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Rectangle_4.png?v=1717163524">
               </div>
               <div class="upsell-content">
                  <a href="#" class="upsell-item-title">Training Tshirt</a>
                  <div class="upsell-price">
                     $285.00
                  </div>
                  <button>Add</button>
               </div>
            </div>
            <div class="custom-upsell-col">
               <div class="upsell-img">
                  <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Rectangle_4_1.png?v=1717163523">
               </div>
               <div class="upsell-content">
                  <a href="#" class="upsell-item-title">Training Tshirt</a>
                  <div class="upsell-price">
                     $285.00
                  </div>
                  <button>Add</button>
               </div>
            </div>
            <div class="custom-upsell-col">
               <div class="upsell-img">
                  <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Rectangle_4.png?v=1717163524">
               </div>
               <div class="upsell-content">
                  <a href="#" class="upsell-item-title">Training Tshirt</a>
                  <div class="upsell-price">
                     $285.00
                  </div>
                  <button>Add</button>
               </div>
            </div>
         </div>
      </div>
   </div>