<div class="container ">
<h2 class="t-h-5" style="text-align: center;">BABEYOND Size Guide</h2>
<div style="text-align: center;">
<h5>The size guide serves as a general guideline for helping you find your size in Ref.</h5>
<h5>Fit can vary depending on style.</h5>
</div>
<ul class="size_ul">
<li>SIZE CHART</li>
<li>HOW TO MEASURE</li>
</ul>
<div class="size_box">
  <div>
    <table height="295">
<tbody>
<tr>
<td><strong>SIZE</strong></td>
<td><strong>US</strong></td>
<td><strong>BUST</strong></td>
<td><strong>WAIST</strong></td>
<td><strong>HIPS</strong></td>
</tr>
<tr>
<td><strong>XS</strong></td>
<td><span>0-2</span></td>
<td><span>32-34</span></td>
<td><span>25-27</span></td>
<td><span>34.5-36.5</span></td>
</tr>
<tr>
<td><strong>S</strong></td>
<td>4-6</td>
<td>34-35.5</td>
<td>27-29</td>
<td>36.5-38</td>
</tr>
<tr>
<td><strong>M</strong></td>
<td>8-10</td>
<td>35.5-37.5</td>
<td>29-31</td>
<td>38-40.5</td>
</tr>
<tr>
<td><strong>L</strong></td>
<td>12-14</td>
<td>37.5-39.5</td>
<td>31-33</td>
<td>40.5-42.5</td>
</tr>
<tr>
<td><strong>XL</strong></td>
<td>14-16</td>
<td>39.5-41</td>
<td>33-34.5</td>
<td>42.5-44</td>
</tr>
<tr>
<td><strong>XXL</strong></td>
<td><span>16-18</span></td>
<td>43-44.5</td>
<td>36-37.5</td>
<td>45-46.5</td>
</tr>
<tr>
<td><strong>XXXL</strong></td>
<td><span>18-20</span></td>
<td>45.5-46.5</td>
<td>39-40.5</td>
<td>48.5-50</td>
</tr>
<tr>
<td><strong>1X</strong></td>
<td><span>16-18</span></td>
<td>43-45.5</td>
<td>36-39</td>
<td>45-48.5</td>
</tr>
<tr>
<td><strong>2X</strong></td>
<td><span>18-20</span></td>
<td>45.5-48</td>
<td>39-42</td>
<td>48.5-52</td>
</tr>
<tr>
<td><strong>3X</strong></td>
<td><span>20-22</span></td>
<td>48-50.5</td>
<td>42-45</td>
<td>52-55.5</td>
</tr>
</tbody>
</table>
  </div>
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0015/8937/9159/files/GQHER_RSZ20_L_HA5LE_IR_480x480.png?v=1655884953" alt="" width="207" height="152" />
  <img src="https://cdn.shopify.com/s/files/1/0015/8937/9159/files/AX6ZLHKK_20FAMUKHP9L71A_480x480.png?v=1655884844" alt="" width="104" height="156" />
  </div>
</div>

<h4>Measurement</h4>
<p>Mesurements refer to body size unless otherwise noted. Fits may vary by style and personal perfernce. If you're on the borderline between two sizes. Order the smaller size for tighter fit or the lager size for a looser fit. If you measurements for bust ans waist correspond to two different suggeted sizes. Order the size indicated your bust measurement.</p>
<h4>Returns / Exchanges</h4>
<p>Want to try multiple sizes or need a dfferent size? We accept returns and exchanges within 14 days of receipt.<a href="https://babeyond.com/pages/return-refund-exchange-policy" title="Return &amp; Exchange">LEARN MORE</a></p>
<h4>Extra Help</h4>
<p>If you have any questions, please feel free to email us at services@babeyond.com We are more than willing to be some help.<a href="https://babeyond.com/pages/contact-us" title="Contact Us">CONTACT US</a></p>

  </div>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
$('.size_ul li').click(function() {
  $(this).addClass('active').siblings().removeClass('active');
var index = $(this).index();
  $('.size_box > div').eq(index).stop().show().siblings().hide()
 })

</script>
<style>
.size_box > div{display:none}
.size_box > div:first-child{display:block}
.size_ul{ display: flex;justify-content: center;}
.size_ul li{padding: 0 40px;    list-style-type: none;cursor: pointer;}
table{    width: 100%;}
</style>